.header {
  width: 100%;
  background-color: #ffffff;
  object-fit: contain;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10000;
}

.header .signUp-btn {
  display: flex;
  flex-direction: row;
  column-gap: 0.5rem;
  width: 8rem;
}
.signUp-btn button {
  width: 100%;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 4px;
  color: black;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
}
