.wrapper {
  width: 100%;
  height: 100%;
}

.sign-up-content {
  width: 22rem;
  height: 25rem;
  background-color: #ffffff;
  object-fit: contain;
  padding: 2rem;
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 8px;
}

.logo-img {
  width: 2rem;
  height: 2rem;
}

.input-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.5rem;
}

.input-section > input {
  width: 15rem;
  height: 1.75rem;
  border-radius: 4px;
  border: 1px solid rgb(142, 142, 142);
  padding-left: 0.5rem;
}

.sign-up-content > button {
  width: 4rem;
  height: 2rem;
  background-color: #ffffff;
  border: 1px solid gray;
  border-radius: 4px;
  color: black;
  font-size: 0.875rem;
  font-weight: 400;
  cursor: pointer;
  box-shadow: 0px 4px 8px 0px #edebe9;
}

.wrapper > button:hover {
  background-color: #9d9d9d;
}
