.post {
  margin-top: 20px;
  background-color: #ffffff;
  max-width: 500px;
  box-shadow: 0 3px 24px -8px rgb(0 0 0 / 30%);
  border-radius: 4px;
}

.post_image {
  width: 100%;
  object-fit: contain;
  border-bottom: 1px solid lightgray;
  border-top: 1px solid lightgray;
}
.post_text {
  font-weight: normal;
  padding: 20px;
  word-wrap: break-word;
}
.post_header {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 20px 10px;
}
.post_avatar {
  margin-right: 10px;
}

.post_comments {
  font-weight: normal;
  padding-left: 20px;
  padding-bottom: 1rem;
  word-wrap: break-word;
}

.post_comments_box {
  display: flex;
  border-top: 1px solid #efefef;
}

.post_comments_box .form {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.75rem 1rem;
}

.post_input {
  width: 100%;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1.5rem;
  padding-left: 0.2rem;
  border: 0px;
}

.post_button {
  background-color: transparent;
  border: 0px;
  color: #089af6;
  font-weight: 700;
  cursor: pointer;
}
